---
import Icons from "../components/icons";
// import Projects from "../components/projects";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <title>James Cook</title>
  </head>
  <body
    class="bg-gray-100 dark:bg-zinc-900 dark:text-zinc-300 min-h-screen transition-colors ease-in"
  >
    <div class="h-screen w-screen">
      <div class="flex justify-center items-center h-screen text-center">
        <div class="flex flex-col gap-1">
          <h1 class="text-4xl font-bold">James Cook</h1>
          <p class="text-sm">he/him</p>
          <p>A developer in the UK</p>
          <Icons />
          <!-- <Projects /> -->
        </div>
      </div>
    </div>
  </body>
</html>
