---
interface Props {
  title: string;
  noIndex?: boolean;
}
const { title, noIndex } = Astro.props;
---

<style is:global>
  a {
    @apply underline text-fuchsia-600 hover:text-fuchsia-800 dark:text-fuchsia-600 dark:hover:text-fuchsia-800;
  }
</style>

<html lang="en">
  <head>
    <!-- Hi :) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:," />
    {noIndex && <meta name="robots" content="noindex" />}
    <title>{title}</title>
  </head>
  <body
    class="font-mono dark:text-neutral-50 bg-gray-300 dark:bg-black text-sm transition-colors"
  >
    <slot />
  </body>
</html>
